# Database
DATABASE_URL=postgresql://postgres:password@db.xxxxxxxxxx.supabase.co:5432/postgres

# Better Auth
BETTER_AUTH_SECRET=your-secret-key-here
BETTER_AUTH_URL=http://localhost:3001

# Admin
NEXT_PUBLIC_ADMIN_URL=http://localhost:3001